@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  font-size: 4.5vw;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  height: 50em;
  height: 100vh;
  position: relative;
}

.w-150 {
  width: 150rem;
}

.w-205 {
  width: 205rem;
}

.min-100vh {
  min-height: 50em;
  min-height: 100vh;
}

.text-2p5xl {
  font-size: 1.75rem;
  line-height: 2.1rem;
}

.auto-height {
  height: auto;
}

.auto-section {
  min-height: 50em;
  min-height: 100vh;
  height: auto;
}

.half-section {
  height: 27em;
  height: 55vh;
}

.shroud {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.4);
}

.shroud-light {
  background-color: rgba(0,0,0,0.2);
}

.shroud-heavy {
  background-color: rgba(0,0,0,0.6);
}

.shroud-xheavy {
  background-color: rgba(0,0,0,0.7);
}

.shroud-white {
  background-color: rgba(255,255,255,0.85);
}

.h-block {
  width: 100%;
  height: 52%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.v-block {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.t-block {
  width: 100%;
  height: 2%;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-center {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.s-contain {
  position: relative;
}

.next-section {
  display: block;
  position: absolute;
  width: 1em;
  height: 1em;
  bottom: 1em;
  right: 1em;
  font-size: 2rem;
  text-align: center;
  z-index: 10;
}

.next-section img {
  height: 100%;
}

.acq {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.85);
  color: white;
  text-align: center;
  padding: 0.5em;
}

.no-resize {
  resize: none;
}

.linkedin {
  display: inline-block;
  width: 1.5em;
}

.linkedin.l-small {
  width: 1em;
}

.linkedin img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide,
.slick-slide > div {
  height: 100%;
}

.slick-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* .slick-list {
  overflow: hidden;
} */

.slick-dots {
  bottom: 60px;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.4;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.swal2-popup {
  max-height: 45em;
  max-height: 95vh;
}

.swal2-image {
  min-height: 12em;
}

.swal2-content {
  max-height: 10em;
  max-height: 30vh;
  overflow-y: auto;
  width: 100%;
  text-align: left !important;
}

.swal2-content p {
  margin: 0.5em 0;
}

@media (min-width: 500px) {
  body {
    font-size: 18px;
  }
}
