.container {
    position: relative;
}

.heroMask {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: -1px;
    pointer-events: none;
    border-bottom: 1px solid white;
    z-index: 15;
}

.heroMask:before,
.heroMask:after {
    content: '';
    position: absolute;
    display: block;
    width: -webkit-calc(50% - 45px);
    width: calc(50% - 45px);
    height: -webkit-calc(100% + 1px);
    height: calc(100% + 1px);
    bottom: -1px;
    background: white;
}

.heroMask:after {
    right: 0;
}

.heroMask svg {
    display: block;
    position: absolute;
    width: 91px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
}

.heroMask svg polygon {
    fill: white;
}

.underline {
    width: 2em;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid rgb(180,180,180);
}

.imgShroud {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0.5), white, rgba(255,255,255,0.5));
}

.borderLeft {
    left: 0;
}

.borderRight {
    right: 0;
}

.thesisBorder {
    position: absolute;
    top: 0;
    height: 100%;
    background-image: url('/backgrounds/pattern-1.jpg');
}

.portfolioBorder {
    position: absolute;
    top: 0;
    height: 100%;
    background-image: url('/backgrounds/pattern-2.jpg');
}

.approach {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('/backgrounds/pattern-2.jpg');
    background-position: left;
}

.process {
    min-height: 20em;
    background-image: url('/backgrounds/ai-2.jpg');
}

.iStrategy {
    min-height: 20em;
    background-image: url('/backgrounds/ai-3.jpg');
}

.keyThemes {
    min-height: 20em;
    background-image: url('/backgrounds/background-10.jpg');
}

.iconContain {
    position: absolute;
    left: 0;
    width: 3em;
    height: 3em;
    padding: 0.75em;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(30,63,152);
}

.list {
    max-width: 30em;
}

.listItem {
    padding-left: 4em;
    position: relative;
}

.listIcon {
    width: 1.5em;
    margin: 0 auto;
}

.portfolio {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('/backgrounds/pattern-4.jpg');
}

.team {
    background-image: url('/backgrounds/background-8.jpg');
}

.news {
    background-image: url('/backgrounds/background-7.jpg');
}

.teamPic {
    filter: grayscale(100%);
}

.teamPic:hover {
    filter: none;
}

.advisor.clickable {
    cursor: pointer;
}

.advisor .advisorPic {
    filter: grayscale(100%);
}

.advisor:hover .advisorPic {
    filter: none;
}

.appear {
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1em;
}

.form {
    width: 35em;
}

.bridg {
    background-image: url('/portfolio/bridg.svg');
    background-size: 30%;
}

.branch {
    background-image: url('/portfolio/branch.svg');
}

.handiq {
    background-image: url('/portfolio/handiq.png');
}

.placerai {
    background-image: url('/portfolio/placerai.png');
    background-size: 45%;
}

.pdynamics {
    background-image: url('/portfolio/pdynamics.png');
    background-size: 75%;
}
